@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --white-color: #FFFFFF;
    --gray-color: #C0C0C0;
    --blue-button: #167BF7;
    --background-color: #00030C;
    --font-text: 'Inter'
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    color: var(--white-color);
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 400;
}

.layout__main{
    background-image: url(./assets/Background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.layout__main__box{
    margin: 0 6em;
}

.layout__main__title{
    font-size: 28px;
    font-weight: 700;
}

.layout__main__comboimg{
    margin: 1em 0 2em 0;
}

.layout__main__button{
    background-color: var(--blue-button);
    border-radius: 8px;
    padding: 1em;
    color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.layout__main__button2{
    background-color: transparent;
    border: solid 1px var(--white-color);
    border-radius: 8px;
    padding: 1em;
    color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.layout__main__subtitle{
    font-size: 12px;
    color: var(--gray-color);
}

.layout__second{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10em;
}

.layout__second__site{
    width: 80%;    
}

.layout__second__title{
    font-family: var(--font-text);
    color: var(--white-color);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.layout__second__text{
    font-family: var(--font-text);
    color: var(--gray-color);
    font-size: 16px;
}

.layout__third{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10em;
}

.layout__third__img{
    width: 80%;
    grid-column: 2;
}

.layout__third__text{
    font-family: var(--font-text);
    color: var(--gray-color);
    font-size: 16px;
    margin-bottom: 2em;
    padding-right: 2em;
    
}

.layout__third__button{
    background-color: var(--blue-button);
    color: var(--white-color);
    border-radius: 8px;
    text-decoration: none;
    padding: 1em;
}